.Rproj.user
.Rhistory
.RData
.Ruserdata
my_poster_template.Rproj
my_poster.aux
my_poster.bbl
my_poster.log
my_poster.nav
my_poster.out
my_poster.pdf
my_poster.snm
my_poster.synctex.gz
my_poster.tex
my_poster.toc
my_poster-concordance.tex
figure
