.Rproj.user
.Rhistory
.RData
.Ruserdata
my_poster_template.Rproj
biogram_poster.aux
biogram_poster.bbl
biogram_poster.log
biogram_poster.nav
biogram_poster.out
biogram_poster.pdf
biogram_poster.snm
biogram_poster.synctex.gz
biogram_poster.tex
biogram_poster.toc
biogram_poster-concordance.tex
